[submodule "third_party/dust3r"]
	path = third_party/dust3r
	url = https://github.com/naver/dust3r.git
[submodule "third_party/taichi-splatting"]
	path = third_party/taichi-splatting
	url = git@github.com:nbardy/taichi-gsplat-differentiable-render-mac.git
